
#Number-2{
    font-size: 50px;
    color: blue;

}
.Number-3{
    font-size: 70px;
}
#Number-4{
    background-color: green;
    font-weight: bold;
    font-size: 70px;
}


.odd{
    background-color: lightcoral;
    font-family: Verdana,DejaVu,sans-serif; 
}